

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: rgb(8, 125, 157);
}

.details{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn{
  background: hsl(194, 96%, 50%);
  color: rgb(9, 9, 9);
  
}

.contactlistfont{
  font-size: 50px;
  color: aqua;
}

.list{
  color: aqua;
}

.contactList{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info{
  display: flex;
  gap:100px;
  font-size: 20px;
}

